<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/surbhi</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
       
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.cdac.MavenProject.Student"/>
        <mapping class="com.cdac.MavenProject.Address"/>
         <mapping class="com.map.Question"/>
          <mapping class="com.map.Answer"/>
          <mapping class="OnetoMany.Question1"/>
          
          <mapping class="OnetoMany.Answer1"/>
          
           <mapping class="ManyToMany.Emp"/>
            <mapping class="ManyToMany.Project"/>
          

        
    </session-factory>
</hibernate-configuration>
